<comes-with>

    <h3>This boilerplate comes with:</h3>
    <ul>
        <li>SASS boilerplate based on <a href="http://milligram.io">Milligram IO</a></li>
        <li><a href="https://github.com/biancojs/bianco">BiancoJS</a></li>
        <li><a href="https://animejs.com/">AnimeJS</a></li>
        <li><a href="http://fontawesome.io">Fontawesome 5</a></li>
        <li><a href="https://github.com/axios/axios">AxiosJS</a></li>
        <li><a href="https://router5.js.org/">Router5</a></li>
        <li>Streaming state management</li>
        <li>Webpack Hot reloading</li>
    </ul>

    <script>

        export default {

        }
    </script>
</comes-with>