<auth-links>

    <ul class='none'>
        <li if={ props.login }>No account? <a href="/register">Create an account</a>.</li>
        <li if={ props.register }>Already have an account? <a href="/login">Login</a>.</li>
        <li>Forgot password? <a href="/password/request-reset">Request password reset</a>.</li>
    </ul>
</auth-links>