<not-found>

    <h1>Page not found</h1>
    <a href="/" class="button">
        <i class="fas fa-home"></i>
        Go Home
    </a>
    <script>
        export default {
        }
    </script>
</not-found>