$primary: #FE0000;
$secondary: #820000;
$tertiary: #D5D5D5;
$quaternary: #4A4A4A;
$quinary: #131210;

$success: #393;
$error: #933;
$warning: #993;
$info: #339;

$font-size: 16px;

$sans-serif: 'Source Sans Pro', sans-serif;
$monospace: 'Ubuntu Mono', monospace;

$nav-height: 4rem;

$mobile: (max-width: 40.0rem)