$primary: #c77;
$secondary: #cc7;
$tertiary: #ccc;
$quaternary: #777;
$quinary: #222;

$success: #393;

$font-size: 16px;

$sans-serif: 'Source Sans Pro', sans-serif;
$monospace: 'Ubuntu Mono', monospace;

$nav-height: 4rem;

$mobile: (max-width: 40.0rem)