<app-nav>

    <a href="/login" class="{ activeOn('auth.login') }">Login</a>
    <a href="/example" class="{ activeOn('example') }">Example</a>

    <script>

        export default {}
    </script>
</app-nav>