app-nav
    display: block
    height: $nav-height
    position: fixed

    top: 0
    left: 0
    right: 0

    padding: 0 1rem

    background: $quaternary

    a, a .fas
        line-height: $nav-height


    a
        color: $tertiary
        display: inline-block
        padding: 0 1rem

        &:hover, &:active
            background-color: rgba(0,0,0,0.2)

        &.active
            background-color: $primary

